.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App > div:nth-child(1){
  background-color: #1591c0;
}
.App > div:nth-child(2){
  background-color: #7aa0b4;
}
.App > div:nth-child(4){
  background-color: #f78a1e;
}
.App > div:nth-child(5){
  background-color: #ac272d;
}
.App > div:nth-child(7){
  background-color: #7fb13d;
}
.App > div:nth-child(8){
  background-color: #5a5694;
}
.App > div:nth-child(10){
  background-color: #ed4e96;
}
.App > div:nth-child(11){
  background-color: #ab893f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
